<div class="menu" ng-show="toggled">
	<md-progress-linear class="progressIndicator" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
	<div class="row margin-right-80">

	  <div class="hidden-sm hidden-xs col-md-3">
		<h3 class="padding-top-5 margin-top-10">
		<div class="">Jose DeLavalle's Portfolio</div>
		<div>
			<a target="_blank" href="https://github.com/josedelavalle/portfolioDashboard">
				<small>Check out code on Github</small>
			</a>
		</div>
		<i class="fa fa-lightbulb-o hidden-md margin-top-5" ng-click="showSetNumbers=!showSetNumbers"></i>
		<span ng-init="showSetNumbers=false" ng-show="showSetNumbers" class="info">dataset: {{dataSet}}, colorset: {{colorSet}}
		</span>
		</h3>
	  </div>
	  <div class="col-xs-12 col-md-6 text-center">
	    <h1 class="margin-top-10">
		<i ng-click="initTiles()" class="hidden margin-left-10 fa fa-refresh
		"></i>

		<h4 class="margin-bottom-0">{{userLocation.address}}
			<span ng-if="userLocation.temperature">
                <img class="weathericon" height="30" ng-src="http://openweathermap.org/img/w/{{userLocation.icon}}.png" />
                {{userLocation.temperature}} &deg;{{userLocation.weatherUnit}}
            </span>
		</h4>
		</h1>
		<div class="row slider-controls">
			<div class="col-xs-2">
				<i class="fa fa-angle-left" ng-click="goPrev($parent.dataSet)"></i>
			</div>
			<div class="col-xs-8">
				<md-slider-container>
			      <span></span>
			      <md-slider on-drag-end flex min="1" max="{{maxColorSets}}" ng-model="$parent.dataSet" ng-change="console.log('asdf')" aria-label="red"  id="red-slider">
			      </md-slider>
			      
			    </md-slider-container>
			</div>
			<div class="col-xs-2">
				<i class="fa fa-angle-right" ng-click="goNext($parent.dataSet)"></i>
			</div>
		</div>
		
		
	  </div>	

	  <div class="col-md-3 hidden-sm hidden-xs text-right">
		<h3>
		<div>{{ clock | date:'shortTime'}}</div>
        <div class="hidden-sm hidden-xs">{{ clock | date:'EEE'}}&nbsp;{{ clock | date:'dd MMM'}}</div>

		</h3>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			

		</div>
	</div>
</div>