<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>
	<link rel="stylesheet" href="./assets/css/main.css">
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body ng-app="app">
	<div class="page" ng-controller="portfolioDashboardController as vm" ng-cloak ng-class="{'padding-top-100' : toggled}">
		<div class="switch" ng-init="toggled=true" ng-click="toggled=!toggled">
			<i ng-show="toggled" class="fa fa-toggle-on fa-4x"></i>
			<i ng-show="!toggled" class="fa fa-toggle-off fa-4x"></i>
		</div>
		
		<div class="menu" ng-show="toggled">
			<md-progress-linear class="progressIndicator" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
			<div class="row margin-right-80">

			  <div class="col-xs-4">
				<h3 class="padding-top-5">
				<div class="">Portfolio Dashboard</div>
				<div class="info">dataset: {{dataSet}}, colorset: {{colorSet}}
				</div>
				</h3>
			  </div>
			  <div class="col-xs-4 text-center">
			    <h1 class="margin-top-10">
				<i ng-click="initTiles()" class="hidden margin-left-10 fa fa-refresh
				"></i>

				<h5>{{userLocation.address}}
					<span ng-if="userLocation.temperature">
	                    <img class="weathericon" height="20" ng-src="http://openweathermap.org/img/w/{{userLocation.icon}}.png" />
	                    {{userLocation.temperature}} &deg;{{userLocation.weatherUnit}}
	                </span>
				</h5>
				</h1>
				<md-slider-container>
			      <span></span>
			      <md-slider on-drag-end flex min="1" max="{{maxColorSets}}" ng-model="dataSet" ng-change="console.log('asdf')" aria-label="red"  id="red-slider">
			      </md-slider>
			      
			    </md-slider-container>
			  </div>	

			  <div class="col-xs-4 text-right">
				<h3>
				<span>{{ clock | date:'shortTime'}}</span>&nbsp;&nbsp;
                <span class="hidden-sm hidden-xs">{{ clock | date:'EEE'}}</span>
                <span class="hidden-sm hidden-xs">{{ clock | date:'dd MMM'}}</span>
				</h3>
			  </div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					

				</div>
			</div>
		</div>
		<div id="main" ng-if="showmain">
			<md-grid-list
		        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
		        md-row-height-gt-md="1:1" md-row-height="2:2"
		        md-gutter="12px" md-gutter-gt-sm="10px" >

			    

			    
			    <md-grid-tile ng-repeat="tile in tiles" class="bg{{colorSet}}-{{tile.id % 5}}"
			        md-rowspan="{{tile.rowspan}}" md-colspan="{{tile.colspan}}">
			        <i class="top-left fa fa-check fa-3x"></i>

			        <h2 ng-if="tile.id==1">
			        	<div class="col-xs-12 centered">
	                                <i ng-if="!isGoing" class="fa fa-play fa-2x" ng-click="start()"></i>
	                                <i ng-if="isGoing" class="fa fa-pause fa-2x" ng-click="stop()"></i>
	                            </div>
			        </h2>
			        <div ng-if="tile.id==2">
						{{clock}}
			        </div>
			        <div ng-if="tile.id==3">

			        </div>
			        <div ng-if="tile.id==4">
						<div ng-hide="$parent.dataSet!=1">
							<iframe class="iframe" src="http://ngpopulation.josedelavalle.com"></iframe>
						</div>
						<div ng-hide="$parent.dataSet!=2">
							<iframe class="iframe" src="http://ngnews.josedelavalle.com"></iframe>
						</div>
						<div ng-hide="$parent.dataSet!=3">
							<iframe class="iframe" src="http://nggallery.josedelavalle.com"></iframe>
						</div>
						<div ng-hide="$parent.dataSet!=4">
							<iframe class="iframe" src="http://ngstates.josedelavalle.com"></iframe>
						</div>
						<div ng-hide="$parent.dataSet!=5">
							<iframe class="iframe" src="http://slickwebstudio.com"></iframe>
						</div>
			        </div>
			        <div ng-if="tile.id==3">
						<iframe class="iframe" src="http://josedelavalle.com#contact"></iframe>
			        </div>

			      <md-grid-tile-footer ng-hide="tile.id==4">
			        <h3>{{tile.id}} - {{tile.footer}}</h3>
			      </md-grid-tile-footer>
			    </md-grid-tile>

		  	</md-grid-list>
	  	</div>
	</div>

	
	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-material/angular-material.min.js"></script>
     <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    
	<script src="./node_modules/angular-route/angular-route.min.js"></script>
	<script src="./node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
	<script src="./node_modules/chart.js/dist/Chart.min.js"></script>
	<script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

	<script src="./node_modules/ngmap/build/scripts/ng-map.min.js"></script>

	<script src="./assets/js/app.js"></script>
</body>
</html>