<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Jose DeLavalle Portfolio Dashboard</title>
	<script>
	if (screen.width <= 1024) {
		
	  	window.location = "http://josedelavalle.com";
	}
	</script>
	<link rel="stylesheet" href="./assets/css/main.css">
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./node_modules/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="./node_modules/slick-carousel/slick/slick-theme.css">
	
</head>
<body ng-app="app">

	<div class="page" ng-controller="portfolioDashboardController as vm" ng-cloak ng-class="{'padding-top-100' : toggled}">
		<div class="switch" ng-init="toggled=true" ng-click="toggled=!toggled">
			<!-- <i ng-show="toggled" class="fa fa-toggle-on fa-4x"></i>
			<i ng-show="!toggled" class="fa fa-toggle-off fa-4x"></i> -->
		</div>
		
		<div ng-include="'partials/header.html'"></div>
		<div id="main" ng-if="showmain">
			<md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
		        md-row-height-gt-md="1:1" md-row-height="2:2"
		        md-gutter="12px" md-gutter-gt-sm="10px" >

			    

			    
			    <md-grid-tile ng-repeat="tile in tiles" 
			    	class="bg{{colorSet}}-{{tile.id % 5}}"

			        md-rowspan="{{tile.rowspan}}" 
			        md-colspan-sm="{{tile.colspansm || 1}}"
			        md-rowspan-sm="{{tile.rowspansm || 1}}" 
			        md-colspan-xs="{{tile.colspanxs || 1}}"
			        md-rowspan-xs="{{tile.rowspanxs || 1}}" 
			        md-colspan="{{tile.colspan}}" ng-if="!tile.hidden">
			        <div ng-class="{'contact-container': tile.id==3}" style="color: {{tile.fontcolor}}">
				        <h2 ng-if="tile.id==1 || tile.id==6 || tile.id==12 || tile.id == 16 || tile.id == 23">
				        	<div class="col-xs-12 controls" ng-click="toggleInterval()">
		                                <i ng-if="!isGoing" class="fa fa-play"></i>
		                                <i ng-if="isGoing" class="fa fa-pause"></i>
		                    </div>
				        </h2>
				        <div ng-if="tile.id==2 || tile.id==21 || tile.id==8 || tile.id==14">
				        	<div class="grid2x2">
							  <div class="box box1"><div>
									<a target="_blank" href="https://twitter.com/slickwebstudio">
										<i class='fa fa-twitter'></i>
									</a>
							  </div></div>
							  <div class="box box2"><div>
							  	<a target="_blank" href="http://github.com/josedelavalle"
							  		<i class='fa fa-github'></i>
							  	</a>
							  </div></div>
							  <div class="box box3"><div>
							  	<a target="_blank" href="http://josedelavalle.com/#contact"
							  		<i class='fa fa-envelope'></i>
							  	</a>
							  </div></div>
							  <div class="box box4"><div>
							  	<a target="_blank" href="https://www.linkedin.com/in/jose-delavalle-49aa7411a/">
							  		<i class='fa fa-linkedin'></i>
							  	</a>
							  </div></div>
							</div>

				        	<div class="container-fluid carousel-container hidden">
				        		<h2 class="full-height">
									<slick class="slick full-height" autoplay=true infinite=true slides-to-show=1 slides-to-scroll=1>
								    	<div class="full-height">
								    		<a target="_blank" href="https://twitter.com/slickwebstudio">
												<i class='fa fa-twitter'></i>
											</a>
								    	</div>
								    	<div class="full-height">
								    		<a target="_blank" href="http://github.com/josedelavalle"
											<i class='fa fa-github'></i>
											</a>
										</div>
										<div class="full-height">
								    		<a target="_blank" href="https://www.linkedin.com/in/jose-delavalle-49aa7411a/">
												<i class='fa fa-linkedin'></i>
											</a>
								    	</div>	    	
								    </slick>
							    </h2>
							</div>
				        </div>
				        <div ng-if="tile.id==3">
							<iframe class="iframe" src="http://ngpopulation.josedelavalle.com"></iframe>
						</div>
						<div ng-if="tile.id==11">
							<iframe class="iframe" src="http://ngnews.josedelavalle.com"></iframe>
						</div>
						<div ng-if="tile.id==9">
							<iframe class="iframe" src="http://nggallery.josedelavalle.com"></iframe>
						</div>
						<div ng-if="tile.id==19">
							<iframe class="iframe" src="http://ngstates.josedelavalle.com"></iframe>
						</div>
						<div ng-if="tile.id==26">
							<iframe class="iframe" src="http://josedelavalle.com"></iframe>
						</div>
						<div ng-if="tile.id==24 || tile.id==22">
							<div class="description">
								<span>{{tile.span}}</span>
							</div>
						</div>
				        <div ng-if="tile.id==7 || tile.id==5 || tile.id==15 || tile.id==18 || tile.id==25">
					        <div class="full-width full-height">
								<ng-map id="map" map-initialized="onMapLoaded()">
								  <directions
						            origin="Bedminster, NJ"
						            destination="{{userCoords}}">
						          </directions>
								</ng-map>
							</div>
				        </div>
						<div ng-show="tile.id==4 || tile.id==13 || tile.id == 17 || tile.id==10 || tile.id==27">
							<div class="container-fluid carousel-container">
								<slick class="slick" autoplay=true infinite=true slides-to-show=1 slides-to-scroll=1>
							    	<div>
										<img title="AngularJs" alt="AngularJs" height="200" src="./assets/images/angular.png" />
							    	</div>
							    	<div>
										<img title="C#" alt="C#" src="./assets/images/csharp.png" />
							    	</div>
							    	<div>
										<img title="CSS3" alt="CSS3" height="200" src="./assets/images/css3.png" />
							    	</div>
							    	<div>
										<img title="HTML5" alt="HTML5" height="200" src="./assets/images/html5.png" />
							    	</div>
							    	<div>
										<img title="SQL Server" alt="SQL Server" height="200" src="./assets/images/sqlserver.png" />
							    	</div>
							    </slick>
							</div>
						</div>
				        <md-grid-tile-footer ng-show="tile.footer">
					        <div>
								<h3 class="md-grid-tile-footer">
								<string class="shadowed hidden">{{tile.id}} - </string>
								<strong class="shadowed">{{tile.footer}}</strong></h3>
					        </div>
				        </md-grid-tile-footer>
			      </div>
			    </md-grid-tile>
		  	</md-grid-list>
	  	</div>
	</div>
	<script src="./node_modules/jquery/dist/jquery.min.js"></script>
	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-material/angular-material.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
	<script src="./node_modules/angular-route/angular-route.min.js"></script>
	<script src="./node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
	<script src="./node_modules/chart.js/dist/Chart.min.js"></script>
	<script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyAFzBg6EWivP2e2GR0DmXdosJKqJylV9AQ"></script>
	<script src="./node_modules/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="./node_modules/slick-carousel/slick/slick.js"></script>
    <script src="./node_modules/angular-slick-carousel/dist/angular-slick.min.js"></script>
	<script src="./assets/js/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-88570521-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>