//Jose DeLavalle - Portfolio Dashboard - 2017
@import 'libs/spacing';
@import 'libs/animations';
@import 'libs/colors';

$light-grey: #ddd;
$main-color: #ccc;
$alt-color: rgba(100,100,0,0.6);
$text-color: #652415;

@mixin responsive($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
	z-index: 0;
	font-size: 18px;
	//background-color: $main-color;
}
* {
	outline: none;

}
a {
	color: white !important;
	text-decoration: none !important;
	outline: none !important;
}
md-grid-tile-footer {
		background-color: rgba(0,0,0,0.5) !important;
		font-size: 2em;
	
}
@include responsive(xs) {
	h4 {
		font-size: 10px !important;
	}
	.class {
		.fa {
			font-size: 5em !important;
		}
	}
}
@include responsive(sm) {

	h4 {
		font-size: 18px !important;
	}

}
.centered {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.full-height {
	height: 100% !important;
}
md-grid-list {
  margin: 8px;
}
.full-width {
	width: 100% !important;
}
.contact-container {
	//background: white;
	width: 100%;
	padding: 20px 20px;
	margin: 30px 30px;
}
.carousel-container {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
}
.shadowed {
	text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
}
.slick {
	width: 100%;
	//margin: 0 auto 30px;
	vertical-align: middle;
	//padding-top: 33%;
	div {
		text-align: center;
	}
	@include responsive(xs) {

	}
	
	img {
		//margin-top: -20px;
		width: 100%;
		height: 100%;

	}
	.fa {

		// @include responsive(xs) {
		// 	font-size: 10em;
		// 	//margin: 20px 0;
		// }
		// @include responsive(sm) {
		// 	font-size: 25em;
		// }
		// @include responsive(md) {
		// 	font-size: 10em;
		// }
		// @include responsive(lg) {
		// 	font-size: 25em;
		// }
		font-size: 1000%;
		//margin: auto 0;
	}
}
.fa-pause, .fa-play, .carousel-container .fa {
		@include responsive(xs) {
			font-size: 3em !important;
			//margin: 20px 0;
		}
		@include responsive(sm) {
			font-size: 3.5em !important;
		}
		@include responsive(md) {
			font-size: 4em !important;
		}
		@include responsive(lg) {
			font-size: 6em !important;
		}
		font-size: 20em;
		margin: auto 0 48px !important;
	}
.slick-prev:before,
.slick-next:before {
   display:none;
}
.font-larger {
	font-size: 1.5em;
}
.tile-link {
	color: white;
	font-size: 1.5em !important;
	text-decoration: none !important;
	&:hover {
		cursor: pointer;
		text-decoration: none !important;
	}

}
.info {
	font-size: 15px;
}
.description {
	@include responsive(xs) {
			font-size: 1em !important;
			//margin: 20px 0;
		}
		@include responsive(sm) {
			font-size: 1.8em !important;
		}
		@include responsive(md) {
			font-size: 1.3em !important;
		}
		@include responsive(lg) {
			font-size: 2em !important;
		}
	padding: 10px 30px;

}
.slider-controls {
	.fa {
		font-size: 3em;
		font-weight: 900;
	}
}
.display-flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.margin-auto {
	margin: auto;
}
.md-track-container {
	top: 21px !important;
	height: 7px !important;
}
.iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.top-left {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px 0 0 10px;
}

.fa-toggle-off {
	//color: white;
	background: #ddd;
	border-radius: 4px;
}
md-grid-tile {
    transition: all 400ms ease-out 50ms;
    transition: background-color 5000ms ease-out 50ms;
	//box-shadow: 0 0 2px 1px #555, 0 0 2px 1px #ddd;
}

#red-slider .md-thumb:after, #red-slider .md-track-fill{
    background-color: $text-color !important;
    border-color: $text-color !important;
}
#red-slider .md-focus-thumb, #red-slider .md-focus-ring{
    background-color: $text-color;
}

.title {

	font-family: "Open Sans";
	font-size: 36px;
	font-weight: 700;
}
.page {
	//background: $main-color;
	height: 100%;
	color: $text-color;
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
}
.tech {
	min-height: 200px;
	width: 200px;
	//background-color: pink !important;
	
	
}
.tech1{
		background-image: url('./assets/images/angular.png');
	}
	.tech2{
		background-image: url('./assets/images/css3.png');
	}
	.tech2{
		background-image: url('../../images/html5.png');
	}


	.time {
		color: #808080;
	}
	.grid2x2 {
	  min-height: 100%;
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  @include responsive(xs) {
			font-size: 2.5em !important;
			//margin: 20px 0;
		}
		@include responsive(sm) {
			font-size: 5em !important;
		}
		@include responsive(md) {
			font-size: 3em !important;
		}
		@include responsive(lg) {
			font-size: 5em !important;
		}
	  margin-bottom: 48px;
	}
	.grid2x2 > div {
	  display: flex; 
	  flex-basis: calc(50% - 20px);  
	  justify-content: center;
	  flex-direction: column;
	}
	.grid2x2 > div > div {
	  display: flex;
	  justify-content: center;
	  flex-direction: row;
	}

	.box { margin: 10px; }
	





.icon-grid {
	display: flex;
	font-size: 10em;
	* {
		position: absolute;
	}
	.twitter-icon {
		top: 5px;
		left: 5px;
	}
	.github-icon {

	}
	.mail-icon {

	}
	.linkedin-icon {

	}
}
.menu {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0 10px;
	min-height: 100px;
	max-height: 100px;
	background: $light-grey;
	z-index: 1;
	overflow: hidden;
}

.progressIndicator {
	z-index: 3;
	.md-container {
		background-color: $alt-color;
		.md-bar {
			background-color: $text-color;	
		}
	}
}
.switch {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	outline: none;
	margin-right: 5px;
}