/*------------------------------*/
/*----- Margins & Paddings -----*/
/*------------------------------*/
.margin-0 {
  margin: 0 !important; }

.margin-left-0 {
  margin-left: 0px; }

.margin-left-5 {
  margin-left: 5px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-left-15 {
  margin-left: 15px; }

.margin-left-20 {
  margin-left: 20px; }

.margin-right-0 {
  margin-right: 0; }

.margin-right-5 {
  margin-right: 5px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-top-neg-3 {
  margin-top: -3px; }

.margin-top-neg-2 {
  margin-top: -2px; }

.margin-top-0 {
  margin-top: 0 !important; }

.margin-top-2 {
  margin-top: 2px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-top-22 {
  margin-top: 22px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-top-100 {
  margin-top: 100px; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-80 {
  margin-bottom: 80px; }

.margin-right-80 {
  margin-right: 80px !important; }

.padding-0 {
  padding: 0 !important; }

.padding-top-0 {
  padding-top: 0; }

.padding-bottom-0 {
  padding-bottom: 0; }

.padding-left-0 {
  padding-left: 0; }

.padding-left-5 {
  padding-left: 5px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-0 {
  padding-right: 0; }

.padding-right-5 {
  padding-right: 5px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-top-100 {
  padding-top: 100px; }

@media only screen and (max-width: 767px) {
  .margin-0-xs {
    margin: 0; }
  .margin-left-5-xs {
    margin-left: 5px; }
  .margin-left-10-xs {
    margin-left: 10px; }
  .margin-left-15-xs {
    margin-left: 15px; }
  .margin-left-20-xs {
    margin-left: 20px; }
  .margin-right-0-xs {
    margin-right: 0; }
  .margin-right-5-xs {
    margin-right: 5px; }
  .margin-right-10-xs {
    margin-right: 10px; }
  .margin-top-neg-3-xs {
    margin-top: -3px; }
  .margin-top-neg-2-xs {
    margin-top: -2px; }
  .margin-top-0-xs {
    margin-top: 0; }
  .margin-top-2-xs {
    margin-top: 2px; }
  .margin-top-5-xs {
    margin-top: 5px; }
  .margin-top-10-xs {
    margin-top: 10px; }
  .margin-top-15-xs {
    margin-top: 15px; }
  .margin-top-20-xs {
    margin-top: 20px; }
  .margin-top-25-xs {
    margin-top: 25px; }
  .margin-top-30-xs {
    margin-top: 30px; }
  .margin-top-50-xs {
    margin-top: 50px; }
  .margin-bottom-0-xs {
    margin-bottom: 0; }
  .margin-bottom-5-xs {
    margin-bottom: 5px; }
  .margin-bottom-10-xs {
    margin-bottom: 10px; }
  .margin-bottom-20-xs {
    margin-bottom: 20px; }
  .padding-0-xs {
    padding: 0; }
  .padding-left-0-xs {
    padding-left: 0; }
  .padding-left-5-xs {
    padding-left: 5px; }
  .padding-right-0-xs {
    padding-right: 0; }
  .padding-right-5-xs {
    padding-right: 5px; }
  .padding-right-10-xs {
    padding-right: 10px; }
  .line-height-15-xs {
    line-height: 1.5em; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .margin-0-sm {
    margin: 0; }
  .margin-left-5-sm {
    margin-left: 5px; }
  .margin-left-10-sm {
    margin-left: 10px; }
  .margin-left-15-sm {
    margin-left: 15px; }
  .margin-left-20-sm {
    margin-left: 20px; }
  .margin-right-0-sm {
    margin-right: 0; }
  .margin-right-5-sm {
    margin-right: 5px; }
  .margin-right-10-sm {
    margin-right: 10px; }
  .margin-top-neg-3-sm {
    margin-top: -3px; }
  .margin-top-neg-2-sm {
    margin-top: -2px; }
  .margin-top-0-sm {
    margin-top: 0; }
  .margin-top-2-sm {
    margin-top: 2px; }
  .margin-top-5-sm {
    margin-top: 5px; }
  .margin-top-10-sm {
    margin-top: 10px; }
  .margin-top-15-sm {
    margin-top: 15px; }
  .margin-top-20-sm {
    margin-top: 20px; }
  .margin-top-22-sm {
    margin-top: 22px; }
  .margin-top-25-sm {
    margin-top: 25px; }
  .margin-top-30-sm {
    margin-top: 30px; }
  .margin-top-50-sm {
    margin-top: 50px; }
  .margin-bottom-0-sm {
    margin-bottom: 0; }
  .margin-bottom-5-sm {
    margin-bottom: 5px; }
  .margin-bottom-10-sm {
    margin-bottom: 10px; }
  .margin-bottom-20-sm {
    margin-bottom: 20px; }
  .padding-0-sm {
    padding: 0; }
  .padding-left-0-sm {
    padding-left: 0; }
  .padding-left-5-sm {
    padding-left: 5px; }
  .padding-right-0-sm {
    padding-right: 0; }
  .padding-right-5-sm {
    padding-right: 5px; }
  .padding-right-10-sm {
    padding-right: 10px; }
  .line-height-15-sm {
    line-height: 1.5em; } }

@media only screen and (min-width: 992px) {
  .margin-0-md {
    margin: 0; }
  .margin-left-5-md {
    margin-left: 5px; }
  .margin-left-10-md {
    margin-left: 10px; }
  .margin-left-15-md {
    margin-left: 15px; }
  .margin-left-20-md {
    margin-left: 20px; }
  .margin-right-0-md {
    margin-right: 0; }
  .margin-right-5-md {
    margin-right: 5px; }
  .margin-right-10-md {
    margin-right: 10px; }
  .margin-top-neg-3-md {
    margin-top: -3px; }
  .margin-top-neg-2-md {
    margin-top: -2px; }
  .margin-top-0-md {
    margin-top: 0; }
  .margin-top-2-md {
    margin-top: 2px; }
  .margin-top-5-md {
    margin-top: 5px; }
  .margin-top-10-md {
    margin-top: 10px; }
  .margin-top-15-md {
    margin-top: 15px; }
  .margin-top-20-md {
    margin-top: 20px; }
  .margin-top-22-md {
    margin-top: 22px; }
  .margin-top-25-md {
    margin-top: 25px; }
  .margin-top-30-md {
    margin-top: 30px; }
  .margin-top-50-md {
    margin-top: 50px; }
  .margin-bottom-0-md {
    margin-bottom: 0; }
  .margin-bottom-5-md {
    margin-bottom: 5px; }
  .margin-bottom-10-md {
    margin-bottom: 10px; }
  .margin-bottom-20-md {
    margin-bottom: 20px; }
  .padding-0-md {
    padding: 0; }
  .padding-left-0-md {
    padding-left: 0; }
  .padding-left-5-md {
    padding-left: 5px; }
  .padding-right-0-md {
    padding-right: 0; }
  .padding-right-5-md {
    padding-right: 5px; }
  .padding-right-10-md {
    padding-right: 10px; }
  .line-height-15-md {
    line-height: 1.5em; } }

@media only screen and (min-width: 1200px) {
  .margin-0-lg {
    margin: 0; }
  .margin-left-5-lg {
    margin-left: 5px; }
  .margin-left-10-lg {
    margin-left: 10px; }
  .margin-left-15-lg {
    margin-left: 15px; }
  .margin-left-20-lg {
    margin-left: 20px; }
  .margin-right-0-lg {
    margin-right: 0; }
  .margin-right-5-lg {
    margin-right: 5px; }
  .margin-right-10-lg {
    margin-right: 10px; }
  .margin-top-neg-3-lg {
    margin-top: -3px; }
  .margin-top-neg-2-lg {
    margin-top: -2px; }
  .margin-top-0-lg {
    margin-top: 0; }
  .margin-top-2-lg {
    margin-top: 2px; }
  .margin-top-5-lg {
    margin-top: 5px; }
  .margin-top-10-lg {
    margin-top: 10px; }
  .margin-top-15-lg {
    margin-top: 15px; }
  .margin-top-20-lg {
    margin-top: 20px; }
  .margin-top-25-lg {
    margin-top: 25px; }
  .margin-top-30-lg {
    margin-top: 30px; }
  .margin-top-50-lg {
    margin-top: 50px; }
  .margin-bottom-0-lg {
    margin-bottom: 0; }
  .margin-bottom-5-lg {
    margin-bottom: 5px; }
  .margin-bottom-10-lg {
    margin-bottom: 10px; }
  .margin-bottom-20-lg {
    margin-bottom: 20px; }
  .padding-0-lg {
    padding: 0; }
  .padding-left-0-lg {
    padding-left: 0; }
  .padding-left-5-lg {
    padding-left: 5px; }
  .padding-right-0-lg {
    padding-right: 0; }
  .padding-right-5-lg {
    padding-right: 5px; }
  .padding-right-10-lg {
    padding-right: 10px; }
  .line-height-15-lg {
    line-height: 1.5em; } }

/* ANIMATIONS
============================================================================= */
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg); } }

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

@keyframes slideOutRight {
  to {
    transform: translateX(100%); } }

@keyframes slideOutDown {
  to {
    transform: translateY(100%); } }

@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }

@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }

@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes slideInUp {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes opacityDown {
  to {
    opacity: 0; } }

@keyframes opacityUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#main .ng-enter {
  animation: opacityUp 0.5s both ease-in-out;
  z-index: 10;
  animation-delay: 0.5s; }

#main .ng-leave {
  animation: opacityDown 0.5s both ease-in-out;
  z-index: 10; }

.controls .ng-enter {
  animation: none !important; }

.controls .ng-leave {
  animation: none !important; }

.bg1-0 {
  background: #222222; }

.bg1-1 {
  background: #3b3b3b; }

.bg1-2 {
  background: #2b6669; }

.bg1-3 {
  background: #398a8e; }

.bg1-4 {
  background: #46aeb4; }

.bg2-0 {
  background: #5383bc; }

.bg2-1 {
  background: #222222; }

.bg2-2 {
  background: #315178; }

.bg2-3 {
  background: #3b3b3b; }

.bg2-4 {
  background: #3f6a9d; }

.bg2-5 {
  background: #315178; }

.bg3-0 {
  background: #35825b; }

.bg3-1 {
  background: #424242; }

.bg3-2 {
  background: #43a874; }

.bg3-3 {
  background: #292929; }

.bg3-4 {
  background: #5dc08d; }

.bg4-0 {
  background: #7f7bca; }

.bg4-1 {
  background: #565656; }

.bg4-2 {
  background: #a19ed9; }

.bg4-3 {
  background: #5c57bb; }

.bg4-4 {
  background: #565656; }

.bg5-0 {
  background: #353535; }

.bg5-1 {
  background: #953b4f; }

.bg5-2 {
  background: #BBC8CA; }

.bg5-3 {
  background: #702e3c; }

.bg5-4 {
  background: #b94a62; }

.gray {
  background: #f5f5f5; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #652415;
  z-index: 0;
  font-size: 18px; }

* {
  outline: none; }

a {
  color: white !important;
  text-decoration: none !important;
  outline: none !important; }

md-grid-tile-footer {
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-size: 2em; }

@media (max-width: 767px) {
  h4 {
    font-size: 10px !important; }
  .class .fa {
    font-size: 5em !important; } }

@media (min-width: 768px) {
  h4 {
    font-size: 18px !important; } }

.centered {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.full-height {
  height: 100% !important; }

md-grid-list {
  margin: 8px; }

.full-width {
  width: 100% !important; }

.contact-container {
  width: 100%;
  padding: 20px 20px;
  margin: 30px 30px; }

.carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%; }

.shadowed {
  text-shadow: 1px 0px 2px #969696; }

.slick {
  width: 100%;
  vertical-align: middle; }
  .slick div {
    text-align: center; }
  .slick img {
    width: 100%;
    height: 100%; }
  .slick .fa {
    font-size: 1000%; }

.fa-pause, .fa-play, .carousel-container .fa {
  font-size: 20em;
  margin: auto 0 48px !important; }
  @media (max-width: 767px) {
    .fa-pause, .fa-play, .carousel-container .fa {
      font-size: 3em !important; } }
  @media (min-width: 768px) {
    .fa-pause, .fa-play, .carousel-container .fa {
      font-size: 3.5em !important; } }
  @media (min-width: 992px) {
    .fa-pause, .fa-play, .carousel-container .fa {
      font-size: 4em !important; } }
  @media (min-width: 1200px) {
    .fa-pause, .fa-play, .carousel-container .fa {
      font-size: 6em !important; } }

.slick-prev:before,
.slick-next:before {
  display: none; }

.font-larger {
  font-size: 1.5em; }

.tile-link {
  color: white;
  font-size: 1.5em !important;
  text-decoration: none !important; }
  .tile-link:hover {
    cursor: pointer;
    text-decoration: none !important; }

.info {
  font-size: 15px; }

.description {
  padding: 10px 30px; }
  @media (max-width: 767px) {
    .description {
      font-size: 1em !important; } }
  @media (min-width: 768px) {
    .description {
      font-size: 1.8em !important; } }
  @media (min-width: 992px) {
    .description {
      font-size: 1.3em !important; } }
  @media (min-width: 1200px) {
    .description {
      font-size: 2em !important; } }

.slider-controls .fa {
  font-size: 3em;
  font-weight: 900; }

.display-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

.margin-auto {
  margin: auto; }

.md-track-container {
  top: 21px !important;
  height: 7px !important; }

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0 0 10px; }

.fa-toggle-off {
  background: #ddd;
  border-radius: 4px; }

md-grid-tile {
  transition: all 400ms ease-out 50ms;
  transition: background-color 5000ms ease-out 50ms; }

#red-slider .md-thumb:after, #red-slider .md-track-fill {
  background-color: #652415 !important;
  border-color: #652415 !important; }

#red-slider .md-focus-thumb, #red-slider .md-focus-ring {
  background-color: #652415; }

.title {
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700; }

.page {
  height: 100%;
  color: #652415; }

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important; }

.tech {
  min-height: 200px;
  width: 200px; }

.tech1 {
  background-image: url("./assets/images/angular.png"); }

.tech2 {
  background-image: url("./assets/images/css3.png"); }

.tech2 {
  background-image: url("../../images/html5.png"); }

.time {
  color: #808080; }

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 48px; }
  @media (max-width: 767px) {
    .grid2x2 {
      font-size: 2.5em !important; } }
  @media (min-width: 768px) {
    .grid2x2 {
      font-size: 5em !important; } }
  @media (min-width: 992px) {
    .grid2x2 {
      font-size: 3em !important; } }
  @media (min-width: 1200px) {
    .grid2x2 {
      font-size: 5em !important; } }

.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 20px);
  justify-content: center;
  flex-direction: column; }

.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.box {
  margin: 10px; }

.icon-grid {
  display: flex;
  font-size: 10em; }
  .icon-grid * {
    position: absolute; }
  .icon-grid .twitter-icon {
    top: 5px;
    left: 5px; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10px;
  min-height: 100px;
  max-height: 100px;
  background: #ddd;
  z-index: 9999;
  overflow: hidden; }

.progressIndicator {
  z-index: 3; }
  .progressIndicator .md-container {
    background-color: rgba(100, 100, 0, 0.6); }
    .progressIndicator .md-container .md-bar {
      background-color: #652415; }

.switch {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  outline: none;
  margin-right: 5px; }
